<!DOCTYPE html>
<html>
<head>
  <title>Indoor Trainer App</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body style="background-color:#F7FAFC;padding:0;margin:0 auto;font-family:'Open Sans', sans-serif;">
  <center>
    <div class="print-100w print-p-0 print-nocolor" style="background-color:#F7FAFC;width:800px;margin:0 auto;padding:0;">
      <div class="print-100w print-nocolor" style="width:700px;margin:0px auto;">
        <header style="background-color: #032E3D; padding: 20px; margin-bottom: 30px; border-radius: 0px 0px 32px 32px">
          <div style="text-align: center;">
              <h1 style="color: #fff; font-size: 24px; font-weight: 300; margin: 0;">Indoor Trainer App</h1>
          </div>
        </header>
